.final-results-screen {
  display: flex;
  flex-direction: column;
  padding: 16px 16px;
}

.final-results-screen a {
  text-align: center;
  margin: 32px;
}

.final-results-screen__shoe-widget {
  background-color: #f7f7f7;
  padding: 16px;
  margin: 16px;
}

.final-results-screen__shoe-widget img {
  max-width: 100%;
}
