.multiple-choices {
  display: flex;
  justify-content: space-around;
  margin: 16px 0;
}

.multiple-choices__button {
  height: 60px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  padding: 8px 8px;
  background-color: black;
  color: white;
  border: 0;
}
